// =====================================================
// Admin UI - Input Groups
// =====================================================

@use "../prefix" as *;
@use "../base/variables" as *;

.#{css-class('input-group')} {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border-radius: $input-border-radius;

  > .#{css-class('form-control')},
  > .#{css-class('form-select')} {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }

  // Focus state for entire group
  &:focus-within {
    box-shadow: 0 0 0 $input-border-width css-var(primary);

    &::before {
      box-shadow: 0 0.125rem 0.375rem 0 rgba(css-var(primary-rgb), 0.3);
    }

    .#{css-class('input-group-text')},
    .#{css-class('form-control')},
    .#{css-class('form-select')} {
      border-color: css-var(primary);
    }
  }

  // Hover state
  &:hover:not(:focus-within) {
    .#{css-class('input-group-text')},
    .#{css-class('form-control')},
    .#{css-class('form-select')} {
      border-color: $input-hover-border-color;
    }
  }

  // Pseudo element for shadow
  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    border-radius: $input-border-radius;
    pointer-events: none;
  }

  // Input group sizing
  &.#{css-class('input-group-lg')} {
    &,
    &::before {
      border-radius: $input-border-radius-lg;
    }

    > .#{css-class('form-control')},
    > .#{css-class('form-select')} {
      min-height: $input-height-lg;
      padding: $input-padding-y-lg $input-padding-x-lg;
      font-size: $input-font-size-lg;
      border-radius: $input-border-radius-lg;
    }

    > .#{css-class('input-group-text')} {
      padding: $input-padding-y-lg $input-padding-x-lg;
      font-size: $input-font-size-lg;
    }
  }

  &.#{css-class('input-group-sm')} {
    &,
    &::before {
      border-radius: $input-border-radius-sm;
    }

    > .#{css-class('form-control')},
    > .#{css-class('form-select')} {
      min-height: $input-height-sm;
      padding: $input-padding-y-sm $input-padding-x-sm;
      font-size: $input-font-size-sm;
      border-radius: $input-border-radius-sm;
    }

    > .#{css-class('input-group-text')} {
      padding: $input-padding-y-sm $input-padding-x-sm;
      font-size: $input-font-size-sm;
    }
  }

  // Rounded corners handling
  > :not(:first-child):not(.#{css-class('dropdown-menu')}):not(.#{css-class('valid-tooltip')}):not(.#{css-class('valid-feedback')}):not(.#{css-class('invalid-tooltip')}):not(.#{css-class('invalid-feedback')}) {
    margin-left: calc(#{$input-border-width} * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > :not(:last-child):not(.#{css-class('dropdown-menu')}):not(.#{css-class('valid-tooltip')}):not(.#{css-class('valid-feedback')}):not(.#{css-class('invalid-tooltip')}):not(.#{css-class('invalid-feedback')}) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // Prevent double focus styling
  > .#{css-class('form-control')},
  > .#{css-class('form-select')},
  > .#{css-class('input-group-text')} {
    &:focus,
    &:focus-within {
      border-width: $input-border-width;
      box-shadow: none;
    }
  }
}

// Input Group Text (addon)
.#{css-class('input-group-text')} {
  display: flex;
  align-items: center;
  padding: calc(#{$input-padding-y} - #{$input-border-width}) calc(#{$input-padding-x} - #{$input-border-width});
  font-size: $input-font-size;
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  color: css-var(body-color);
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  background-clip: padding-box;
  border: $input-border-width solid css-var(border-color);
  border-radius: $input-border-radius;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  // Icon sizing
  .dashicons,
  [class^="ti-"],
  [class*=" ti-"] {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

// Merged Input Group (no visible borders between elements)
.#{css-class('input-group-merge')} {
  .#{css-class('input-group-text')},
  .#{css-class('form-control')},
  .#{css-class('form-select')} {
    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }

    &:not(:first-child) {
      border-left: 0;
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: 0;
    }
  }
}

// Disabled Input Group
.#{css-class('input-group')}.disabled,
.#{css-class('input-group')}[disabled] {
  .#{css-class('input-group-text')},
  .#{css-class('form-control')},
  .#{css-class('form-select')} {
    border-color: css-var(input-disabled-border);
    background-color: css-var(input-disabled-bg);
    color: css-var(secondary-color);
    pointer-events: none;
  }
}

// Rounded pill style
.#{css-class('input-group')}.#{css-class('rounded-pill')} {
  .#{css-class('input-group-text')},
  .#{css-class('form-control')},
  .#{css-class('form-select')},
  &::before {
    border-radius: $border-radius-pill;
  }

  > :not(:first-child):not(.#{css-class('dropdown-menu')}):not(.#{css-class('valid-tooltip')}):not(.#{css-class('valid-feedback')}):not(.#{css-class('invalid-tooltip')}):not(.#{css-class('invalid-feedback')}) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > :not(:last-child):not(.#{css-class('dropdown-menu')}):not(.#{css-class('valid-tooltip')}):not(.#{css-class('valid-feedback')}):not(.#{css-class('invalid-tooltip')}):not(.#{css-class('invalid-feedback')}) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Input Group with Validation
.#{css-class('input-group')}:has(.#{css-class('is-invalid')}) {
  box-shadow: 0 0 0 $input-border-width $form-feedback-invalid-color;

  .#{css-class('input-group-text')},
  .#{css-class('form-control')},
  .#{css-class('form-select')} {
    border-color: $form-feedback-invalid-color;
  }

  &::before {
    box-shadow: 0 0.125rem 0.375rem 0 rgba($form-feedback-invalid-color, 0.3);
  }

  ~ .#{css-class('invalid-feedback')},
  ~ .#{css-class('invalid-tooltip')} {
    display: block;
  }
}

.#{css-class('input-group')}:has(.#{css-class('is-valid')}) {
  box-shadow: 0 0 0 $input-border-width $form-feedback-valid-color;

  .#{css-class('input-group-text')},
  .#{css-class('form-control')},
  .#{css-class('form-select')} {
    border-color: $form-feedback-valid-color;
  }

  &::before {
    box-shadow: 0 0.125rem 0.375rem 0 rgba($form-feedback-valid-color, 0.3);
  }

  ~ .#{css-class('valid-feedback')},
  ~ .#{css-class('valid-tooltip')} {
    display: block;
  }
}
